
<div class="hero-unit">
<h1>Welcome to Luke's OMRAILS app</h1>

<p>You found the homepage for the 
	<%= link_to "T Luke Sherwin", "www.tlukesherwin.com" %>
	Your one stop shop for outrage
</p>
<p>
	<%= link_to "Sign Up Now", "www.tlukesherwin.com", class: "btn btn-primary btn-large" %>
</p>
</div>
