<div class="footer">
	<small>
		you found the homepage for the 
			<%= link_to "Sign up Now", "http://www.tlukesherwin.com" %>
		by
			<%= link_to "T Luke Sherwin", "http://www.tlukesherwin.com" %>
	</small>
</div>
